@keyframes roll {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: 'Mulish';
    font-size: 16px;
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
#scrollToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #19b7f9;
    color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    text-align: center;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(22, 107, 165, 0.2);
    z-index: 99;
    transition: ease-in-out 0.2s all;
}
.header-fixed{
    position: fixed;
    background-color: #fff;
    transition: ease-in-out 0.2s all;
}
.title-index{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
}
.title-index::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width:  45px;
    height: 2px;
    background-color: #19b7f9;
    transform: translateX(-50%);
}
.item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}
.item-nav{
    display: flex;
    align-items: center;
}
.item-nav li{
    padding-left: 30px;
}
.item-nav li a{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: ease-in-out 0.2s all;
}
.header-fixed .item-nav li a{
    color: #3c4550;
}
.header-fixed .item-nav li a:hover,
.item-nav li a:hover{
    color: #19b7f9;
    transition: ease-in-out 0.2s all;
}
.item-slider{
    position: relative;
    height: 100vh;
}
.section-about-us,
.section-service,
.section-transport,
.section-why-choose-us{
    position: relative;
    padding: 60px 0;
    scroll-margin-top: 90px;
}
.item-about-us{
    padding: 0 20px;
    text-align: center;
}
.item-about-us-image{
    width: 75px;
    margin: 0 auto;
}
.item-about-us-image:hover img{
    animation: roll 1s;
}
.item-about-us-title{
    font-size: 18px;
    color: #3c454f;
    font-weight: 700;
    margin: 20px 0 15px;
}
.item-service{
    position: relative;
    background-color: #f2f7f8;
}
.item-service:nth-child(odd){
    background-color: #19b7f9;
}
.item-service-detail{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-service-image{
    width: 50%;
    order: 2;
}
.item-service-content{
    width: 50%;
    order: 1;
    padding-right: 150px;
}
.item-service:nth-child(odd) .item-service-image{
    order: 1;
    direction: rtl;
}
.item-service:nth-child(odd) .item-service-content{
    padding-right: 0;
    padding-left: 150px;
    color: #fff;
}
.item-service-image img{
    position: relative;
    max-width: max-content;
    min-height: 460px;
}
.item-service-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-why-choose-us{
    padding-bottom: 0;
}
.item-why-choose-us{
    display: flex;
    align-items: start;
    padding-bottom: 50px;
    justify-content: space-between;
    padding-right: 20px;
}
.item-why-choose-us-left{
    position: relative;
    width: 65px;
    height: 65px;
    text-align: center;
}
.item-why-choose-us-left span{
    position: relative;
    color: #fff;
    font-size: 26px;
}
.item-why-choose-us-left span::before{
    background-color: #19b7f9;
    content: "";
    left: -7px;
    height: 45px;
    position: absolute;
    top: -5 px;
    transform: rotate(45deg);
    width: 45px;
    z-index: -1;
}
.item-why-choose-us-right{
    width: calc(100% - 80px);
}
.item-why-choose-us-title{
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
    color: #3c4550;
    line-height: 1;
}